@media (max-width: 768px) {
  nav a {
    display: none;
  }
  .header-box {
    justify-content: center;
  }
  .about {
    margin-top: 30px;
  }
  .about-p {
    margin: 0%;
  }
  .about-p p {
    margin-left: 15%;
    margin-right: 15%;
  }
  .skill-icons {
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .introduction-box {
    flex-direction: column-reverse;
  }
  .introduction {
    margin-top: 50px;
    text-align: center;
  }
  .introduction p {
    font-size: 20px;
  }
  h1 {
    font-size: 50px;
  }
  .social-media {
    justify-content: center;
  }
  .social-media img {
    width: 25px;
  }
  .intro-photo img {
    width: 300px;
    height: 300px;
  }
}
